Wind Energy Flows.json
[{"id":"f04ae699.5bcfc8","type":"tab","label":"Predicting Wind Turbine Energy Output","disabled":false,"info":""},{"id":"acd288a5.fb48c8","type":"function","z":"f04ae699.5bcfc8","name":"PreToken","func":"global.set(\"date\",msg.payload.date)\nglobal.set(\"lvactivepower\",msg.payload.lvactivepower)\nglobal.set(\"wspeed\",msg.payload.wspeed)\nglobal.set(\"wdir\",msg.payload.wdir)\n\nvar apikey=\"H9VGIcol5dSixpGJV61k2EUgME4GR43_aY99z13lSo4A\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":200,"wires":[["e9559964.a09f58"]]},{"id":"e9559964.a09f58","type":"http request","z":"f04ae699.5bcfc8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":260,"wires":[["6de9b974.faba28"]]},{"id":"b93a39f9.c0db48","type":"inject","z":"f04ae699.5bcfc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["acd288a5.fb48c8"]]},{"id":"5d349e1b.58f89","type":"ui_form","z":"f04ae699.5bcfc8","name":"","label":"","group":"9c53c30.f3e7a4","order":1,"width":0,"height":0,"options":[{"label":"Enter Date","value":"date","type":"text","required":true,"rows":null},{"label":"Enter LVActivePower_kW","value":"lvactivepower","type":"number","required":true,"rows":null},{"label":"Enter WindSpeedm/s","value":"wspeed","type":"number","required":true,"rows":null},{"label":"Enter WindDirection°","value":"wdir","type":"number","required":true,"rows":null}],"formValue":{"date":"","lvactivepower":"","wspeed":"","wdir":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":90,"y":320,"wires":[["acd288a5.fb48c8"]]},{"id":"1b8c9d13.d9d133","type":"debug","z":"f04ae699.5bcfc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":120,"wires":[]},{"id":"6de9b974.faba28","type":"function","z":"f04ae699.5bcfc8","name":"Pre Prediction","func":"var date = global.get('date')\nvar lvactivepower = global.get('lvactivepower')\nvar wspeed = global.get('wspeed')\nvar wdir = global.get('wdir')\n\nvar token=msg.payload.access_token\nvar instance_id=\"ef65fc43-ae4a-4c70-9d18-ac63c0ad0717\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date\", \"LVActivePower\", \"Wind Speed\", \"Wind Direction\"], \"values\": [[date,lvactivepower,wspeed,wdir]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["26c8c4a2.34ef0c"]]},{"id":"26c8c4a2.34ef0c","type":"http request","z":"f04ae699.5bcfc8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/76ff7595-671c-45db-bb62-8c3619504d9f/predictions","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":260,"wires":[["435a71c.9ac799"]]},{"id":"af3259c8.76d0a8","type":"ui_text","z":"f04ae699.5bcfc8","group":"9c53c30.f3e7a4","order":2,"width":0,"height":0,"name":"","label":"Energy Output","format":"{{msg.payload}}","layout":"row-center","x":1080,"y":300,"wires":[]},{"id":"435a71c.9ac799","type":"function","z":"f04ae699.5bcfc8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":180,"wires":[["1b8c9d13.d9d133","af3259c8.76d0a8"]]},{"id":"9c53c30.f3e7a4","type":"ui_group","z":"","name":"Prediction Form","tab":"f7c3c61c.a0fd08","order":1,"disp":true,"width":"6","collapse":false},{"id":"f7c3c61c.a0fd08","type":"ui_tab","z":"","name":"Wind Turbine Energy","icon":"dashboard","disabled":false,"hidden":false}]